body {
  background: black; }

img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

@keyframes example-three-anim-1 {
  0% {
    clip-path: inset(25% 0 24% 0); }
  6.66667% {
    clip-path: inset(39% 0 41% 0); }
  13.33333% {
    clip-path: inset(79% 0 10% 0); }
  20% {
    clip-path: inset(30% 0 2% 0); }
  26.66667% {
    clip-path: inset(34% 0 1% 0); }
  33.33333% {
    clip-path: inset(77% 0 9% 0); }
  40% {
    clip-path: inset(70% 0 7% 0); }
  46.66667% {
    clip-path: inset(66% 0 24% 0); }
  53.33333% {
    clip-path: inset(33% 0 46% 0); }
  60% {
    clip-path: inset(57% 0 18% 0); }
  66.66667% {
    clip-path: inset(27% 0 2% 0); }
  73.33333% {
    clip-path: inset(99% 0 1% 0); }
  80% {
    clip-path: inset(84% 0 11% 0); }
  86.66667% {
    clip-path: inset(41% 0 55% 0); }
  93.33333% {
    clip-path: inset(81% 0 7% 0); }
  100% {
    clip-path: inset(18% 0 74% 0); } }

@keyframes example-three-anim-2 {
  0% {
    clip-path: inset(9% 0 91% 0); }
  6.66667% {
    clip-path: inset(84% 0 12% 0); }
  13.33333% {
    clip-path: inset(93% 0 6% 0); }
  20% {
    clip-path: inset(98% 0 3% 0); }
  26.66667% {
    clip-path: inset(39% 0 10% 0); }
  33.33333% {
    clip-path: inset(63% 0 23% 0); }
  40% {
    clip-path: inset(7% 0 85% 0); }
  46.66667% {
    clip-path: inset(13% 0 13% 0); }
  53.33333% {
    clip-path: inset(81% 0 10% 0); }
  60% {
    clip-path: inset(16% 0 26% 0); }
  66.66667% {
    clip-path: inset(3% 0 78% 0); }
  73.33333% {
    clip-path: inset(99% 0 1% 0); }
  80% {
    clip-path: inset(82% 0 2% 0); }
  86.66667% {
    clip-path: inset(97% 0 3% 0); }
  93.33333% {
    clip-path: inset(29% 0 47% 0); }
  100% {
    clip-path: inset(71% 0 10% 0); } }

.example-three > img {
  position: absolute;
  top: 71px;
  left: 75px; }

.example-three > img:nth-child(2) {
  left: 77px;
  animation: example-three-anim-1 3s infinite linear alternate-reverse; }

.example-three > img:nth-child(3) {
  left: 73px;
  animation: example-three-anim-2 4s infinite linear alternate-reverse; }
